---
const personalImageAlt = "I.S.C. Raúl Adolfo Torres Vargas";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-500 dark:[&>p>strong]:text-yellow-300 dark:[&>p>strong]:font-extrabold [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Raúl Adolfo Torres Vargas, pero mis amigos y conocidos me dicen
      Rulo aunque algunas personas me han llamado Adolfo. Empecé en el mundo de
      la programación como a los 15 años por allá del 2009 con una desktop HP 🖥️
      y lo empecé por curiosidad. Actualmente estoy como <strong>
        fundador y director de Easy Software Design México, además de ser
        Consultor TI 💻</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Colaborar en la creación desde cero de una web app llamada
        <cursive>
          <a
            href="https://www.fleter.io/"
            target="_blank"
            class="text-yellow-800 dark:text-green-500 text-2xl">Fleter</a
          ></cursive
        >

        por la empresa <cursive
          ><a
            href="https://www.onibex.com/"
            target="_blank"
            class="text-yellow-800 dark:text-green-500 text-2xl mx-[-7px]"
          >
            Onibex</a
          >
        </cursive>
      </strong>. Aunque fue por un periodo de 6 a 7 meses bajo contrato, me
      llevo muchos aprendizajes 😢
    </p>

    <p>
      Como Desarrollador <strong
        >Empecé a laborar en las empresas desde principios o mediados de 2019,
        mi primera empresa fue <cursive
          ><a
            href="https://www.facebook.com/touristamorelia"
            target="_blank"
            class="text-yellow-800 dark:text-green-500 text-2xl"
            >Tourista Vive México</a
          ></cursive
        > haciendo una especie de <em
          class="italic text-yellow-800 dark:text-green-500 text-lg"
          >"Becario"</em
        > en dicha empresa</strong
      >. Mi objetivo es ser constante cada día en la mejora de mi persona y de
      mi entorno laborar, ya que soy una persona 100% dedicada en lo que hace,
      hasta a veces se me olvida comer 😆 .
    </p>
    <p>
      Estoy entusiasmado con la oportunidad de contribuir con mi experiencia y
      pasión al éxito de tu equipo o empresa. Espero con ansias la posibilidad
      de colaborar juntos en proyectos futuros. ¡Gracias por tomarte el tiempo
      de conocerme!
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="/about/about.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
