---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { currentLocale } = Astro;

const navItems = [
  {
    title: t("nav.home"),
    label: "experiencia",
    url: currentLocale === "en" ? "/en/#experience" : "/#experiencia",
  },
  {
    title: t("nav.projects"),
    label: "proyectos",
    url: currentLocale === "en" ? "/en/#projects" : "/#proyectos",
  },
  {
    title: t("nav.about"),
    label: "sobre-mi",
    url: currentLocale === "en" ? "/en/#sobre-mi" : "/#sobre-mi",
  },
  {
    title: t("nav.stack"),
    label: "stack",
    url: currentLocale === "en" ? "/en/#stack" : "/#stack",
  },
];
---

<footer
  class="opacity-80 m-4 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <span
      class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      set:html={t("footer.rights")}
    />
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        {
          navItems.map((link) => (
            <a
              href={link.url}
              aria-label={link.label}
              class="hover:underline me-4 md:me-6"
            >
              {link.title}
            </a>
          ))
        }
      </li>
    </ul>
  </div>
</footer>
