---
import Layout from "../layouts/Layout.astro";
import GitHubIcon from "../assets/icons/SocialNetworks/GitHub.astro";
import LinkedInIcon from "../assets/icons/SocialNetworks/LinkedIn.astro";
import Link from "../components/reusable/Link.astro";
import Date from "../components/Date.astro";
---

<Layout title="Pronto nos veremos">
  <main
    class="max-w-md w-full mx-auto p-6 bg-transparent rounded-lg shadow-lg text-center"
  >
    <img
      src="/src/assets/img/comingSoon.webp"
      alt="Logo"
      class="mx-auto mb-4"
    />
    <h1 class="text-3xl font-semibold text-white mb-4">
      ¡Pronto estaremos aquí!
    </h1>

    <footer class="flex items-end justify-center mt-4 gap-x-4">
      <div
        class="max-w-md w-full mx-auto p-6 bg-transparent rounded-lg shadow-lg text-center"
      >
        <h2 class="text-2xl font-semibold text-white text-center mb-4">
          Por lo mientras, les dejo mis redes sociales
        </h2>
        <div class="flex justify-center space-x-4">
          <Link href="https://github.com/ingrauladolfo">
            <GitHubIcon class="size-6" />
            GitHub
          </Link>
          <Link href="https://linkedin/in/ingrauladolfotorresvargas">
            <LinkedInIcon class="size-6" />
            LinkedIn
          </Link>
        </div>
      </div>
    </footer>
  </main>
</Layout>
