---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero/Hero.astro";
import Skills from "@/sections/Skills/Skills.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Gears from "@/assets/icons/Gears.astro";
---

<Layout
  title="Porfolio I.S.C. Raúl Adolfo Torres Vargas | Desarrollador y Programador Web con más de 5 años de experiencia"
  description="Contrata a Raúl Adolfo Torres Vargas para crear tu aplicación web o móvil. Desarrollador Web, Fundador de ESDMX y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
  <main>
    <SectionContainer class="py-44 pb-32">
      <Hero />
    </SectionContainer>
    <SectionContainer id="skills">
      <h2
        class="text-5xl justify-center align-middle dark:text-red-400 light:text-black-400 font-semibold mb-6 flex gap-x-3 items-center"
      >
        <Gears class="size-7" />
        Habilidades
      </h2>
      <Skills />
    </SectionContainer>
  </main>
</Layout>
