---
import Briefcase from "@/assets/icons/Briefcase.astro";
import LeftArrowIcon from "@/assets/icons/sections/Experience/LeftArrowIcon.astro";
import ExperienceItem from "@/components/sections/Experience/ExperienceItem.astro";
import LinkInline from "@/components/sections/Experience/LinkInline.astro";
import SectionContainer from "@/components/sections/index/SectionContainer.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
const { currentLocale } = Astro;
const careerDetailedText =
  currentLocale === "es" ? "Experiencia Detallada" : "Experience Detailed";
type tLang = (str: any) => any;
const lang = getLangFromUrl(Astro.url);
const t: tLang = useTranslations(lang);
type Experience = {
  title: string;
  company: string;
  description: string;
  reasonLeaving?: string;
  workHere: boolean;
  link?: string;
  link2?: string;
  startDate: string;
  finishDate?: string;
};
const EXP: Experience[] = t("exp");
---

<Layout
  title={t("layout.title")}
  description={`${t("layout.description")}| ${careerDetailedText}`}
>
  <main>
    <SectionContainer class="py-20 pb-20">
      <h2
        class="text-5xl justify-center align-middle dark:text-white text-gray-800 font-semibold mb-6 flex gap-x-3 items-center"
      >
        <Briefcase class="size-12" />
        {t("exp.title")}
      </h2>
      <ol
        class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
      >
        <div class="flex justify-center items-center">
          <LinkInline href="/">
            <LeftArrowIcon />
            {currentLocale !== "en" ? "Volver" : "Go back"}
          </LinkInline>
        </div>
        {
          EXP.map((experience) => (
            <li>
              <ExperienceItem {...experience} />
            </li>
          ))
        }
        <div class="flex justify-center items-center">
          <LinkInline href="/">
            <LeftArrowIcon />
            {currentLocale !== "en" ? "Volver" : "Go back"}
          </LinkInline>
        </div>
      </ol>
    </SectionContainer>
  </main></Layout
>
